.App {
  text-align: center;
}
html,body{
  /* background-color:#68161c; */
  background-image: url('./images/bg.jpg');
background-repeat:no-repeat;
background-size: cover;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* @font-face {
  font-family: best;
  src: url('./fonts/best.ttf');
}
*{
  font-family:best !important
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-bar{
  height:50px;
  width:100%;
  background-color: #68161c;
  display:grid;
  grid-template-columns:50% 50%; 
  position:fixed;
  left:0px;
  top:0px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.leftSide{
  cursor:pointer;
height:100%;
width:50%;
display:flex;
text-align: left;
justify-content:left;
align-items:center;
color:#68161c;
}
.rightSide{
    text-align: right;
    justify-content: right;
    align-items:center;
    display:flex;
    padding-right:10px;
    color:#68161c;
  }

  .logo{
    height:30px;
    margin:5px;
    width:30px;
    transition: 0.3s ease all;
  }
  .logo:hover{
    height:45px;
    margin:5px;
    width:45px;
    transition: 0.3s ease all;
  }
  .logoText{
    color:white
  }
  .avatar{
    height:70px;
    width:70px;
    object-fit: cover;
    border-radius:5px;
    transition:all ease 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .avatar:hover{
    height:60px;
    width:60px;
    object-fit: cover;
    /* border-radius:50px; */
  }
  .search{
    /* border:1px solid #68161c; */
    padding:15px;
    border:none;
    height:35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    transition:all ease 0.3s;
    outline:none;
    
    margin-right:15px;
  }
  .search:hover{
    /* border:1px solid #68161c; */
    padding: 15px;
    margin:5px;
    border:none;
    height:40px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
 .nav-bar{
  z-index: 1000;
 }
  .icons_{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    background-color: #39040e;
    padding: 10px;
    justify-content:center;
    align-items:center;
    text-align:center;
    display:flex;
    color: white;
    transition:all 0.3s ease;
    border-radius:50px;
    height:30px;
    width:30px;
  }
  .icons_:hover{
   
    padding:15px;
    height: 40px;
    width: 40px;
   
  }
.logoBig{
  height:260px;
  margin:30px 0 30px 0;
  /* transition:all ease 0.4s; */
}

.p_white{
  color:white;

}
.getStarted{
  border:1px white solid;
  border-radius: 40px;
  background-color:transparent;
  padding: 6px;
  color:white;
  transition:padding ease 0.3s;
}
.getStarted:hover{
  border:1px white solid;
  border-radius: 40px;
  background-color:transparent;
  padding: 16px;
  color:white;
}
.hundred{
  height:900px !important;
  /* border-top-left-radius: 50px; */
  /* margin-top: 60px; */
  /* margin-left:150px !important; */
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-size:cover;
  /* background-color: red; */
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}
.drinksPage{
  height:800px !important;
  padding-left:300px;
  /* border-top-left-radius: 50px; */
  /* margin-top: 60px; */
  /* background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-size:cover; */

}
.footer{
  position:relative;
  bottom: 0;
  left:0;
  background-color: #68161c;
  Height:80px;
  width: 100%;
  /* margin-top:800px */
}
.ddrinksDetails{
  height:900px !important;
  /* padding-left:300px; */
  /* border-top-left-radius: 50px; */
  /* margin-top: 60px; */
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-size:cover;
  /* background-color: red; */
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}
.loginDetails{
  height:800px !important;
  /* padding-left:300px; */
  justify-content:center;
  align-items:center;
  text-align:center;
  display: flex;
  /* border-top-left-radius: 50px; */
  /* margin-top: 60px; */
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  background-size:cover;
  /* background-color: red; */
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}
.labelTitle{

  width:auto;
  padding:15px;
  /* box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset; */
  /* background-color:#68161c; */
  /* background-image: linear-gradient(to right, #3e3233 , #68161c); */
  color:#f38600;
}
.center_first{
  justify-content:center;
  align-items:center;
  text-align:center;
}
.center_first_flex{
  justify-content:center;
  align-items:center;
  text-align:center;
  display:flex;
  flex-direction: column;
}
.spring1{
  height:200px;
}
.spring2{
  height:300px;

}
.nameSide{
  justify-content: right;
  align-items: center;
  margin-right: 15px;
  text-align:center;
  display:flex;
  flex-direction:row;
}
.imageSide{
  justify-content: left;
  align-items: center;
  margin-left: 3px;
  text-align:center;
  display:flex;
}
.drawer{
  height:100%;
  z-index: 1000;
  position:fixed;
  background-color: #68161c;
  top:40;
  overflow: scroll;
  margin-top: 50px;
  padding:10px;
  padding-top:60px;
  align-items: center;
  justify-content:center;
  text-align:center;
  left:0;
  width:300px;
}
.drawer_small{
  position:absolute;
  right:0;
  top:0;
  height:100%;
  width:40px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-top-left-radius: 50px;
}
.bg_dark{
  background-color:rgb(0, 0, 0, 0.6);
  height:100%;
}
.bg_dark2{
  background-color:rgb(0, 0, 0, 0.8);
  height:100%;
}
.bg_dark3{
  width:300px;
  border-radius: 7px;
  background-color:rgb(0, 0, 0, 0.8);

}
.itemList{
  display:grid;
  grid-template-columns: 30% 70%;
  height: 80px;
  transition:all ease-out 0.3s;
}
.itemList:hover{
  display:grid;
  grid-template-columns: 30% 70%;
  height: 90px;
  cursor:pointer
}
.itemParent{
  margin-top:30px;
}
.itemList{
  border-radius:5px;
  padding:6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border:1px #270207 solid; */
}
.bottleMeter{
  display: flex;
width:100%;
}
.meterParent{
  height: 200px;
  width:40px;
  background-color:red;
}
.login {
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 40px 30px 30px 30px;
  border-radius: 10px;

  width: 400px;
  /* -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  /* box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2); */
}
/* .login::before, .login::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
} */
/* .login::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(69, 105, 144, 0.15);
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
} */
/* .login::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(2, 128, 144, 0.2);
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
} */
.login > input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
/* .login > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #f45b69;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
} */
/* .login > button:hover {
  background-color: #f24353;
} */

.noBg{
  background-color:transparent !important;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}
.bottles{
  height:250px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #68161c;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #68161c; 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.warning_{
  margin-top:15px;
  width:100%;
  padding:15px;
  background-color:#68161c;
  /* border:1px white solid; */
  color:white;
  border-radius:5px;

}
.danger{
  height:30px;
}